body{
  margin: 0;
  background-color: #EFEFEF;
}






.img{
  width: 40px;
  height:40px;
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.8s ease-in-out;
  box-shadow:0 0 40px -10px #000;
}

.img:hover{
  transform: scale(1.5)
}


.fb{
  position: absolute;
  top: 279px;
  left: 490px;

  height:8%;

}

.tw{
  position: absolute;
  top: 272px;
  left: 565px;
    height:10%;

}

.twi{
  position: absolute;
  top: 279px;
  left: 650px;
    height:8%;

}

.yt{
  position: absolute;
  top: 276px;
  left: 720px;
    height:9%;
}

.inst{
  position: absolute;
  top: 276px;
  left: 805px;
    height:9%;
}





.main{
  position: absolute;
  top:200px;
  left:200px;
  width: 600px;
  height: 400px;
}

.heading{
  position: absolute;
  top: 250px;
  right: 230px;
  font-size: 70px;
  text-decoration: none;
  color: #0AA1DD;
}

.social{
  color: #0AA1DD;
  text-decoration: none;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 10px;

}
table{
  margin-top: 25px;
  margin-bottom: 20px;
}


.social:hover{
  color: gold;
}

.heading:hover{
  color: gold;
}

.banner{
position: absolute;
top:150px;
left: 350px;
width: 700px;
height:200px;
box-shadow:0 0 40px -10px #000;
}

.para{
  position: absolute;
  top: 400px;
  left:30px;
  right:30px;
  color: #2FA4FF;
}

.bannerhead{
  margin-top:90px;
  margin-left:550px;
  display: inline;
  padding-top: 20px;

}

.bannerhead1{
  margin-top:10px;
  margin-left:20px;
  display: inline;
  color: #0AA1DD;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 20px;

}

.bottom-container{
  position: absolute;
  top: 700px;
  left:0;
  background-color: #30AADD;
  width: 100%;
  height: 70px;
  }


.footer-link1{
  position: absolute;
  top: 710px;
  left: 480px;
  text-decoration: none;
  font-size: 20px;
  color: #C4DDFF;
}


.footer-link2{
  position: absolute;
  top: 710px;
  left: 680px;
  text-decoration: none;
  font-size: 20px;
  color: #C4DDFF;
}


.footer-link3{
  position: absolute;
  top: 710px;
  left: 880px;
  text-decoration: none;
  font-size: 20px;
  color: #C4DDFF;
}


.footer-link1:hover{
color: #E8F9FD;
}

.footer-link2:hover{
color: #E8F9FD;
}

.footer-link3:hover{
color: #E8F9FD;
}



.copyright{
  color: #E8F9FD;
  padding-bottom: 0px;
  position: absolute;
  top: 730px;
  left: 630px;

}




.bannerhead1:hover{
  color: gold;
}

.watch1{
position: absolute;
top: 180px;
left: 80px;
width: 400px;
height: 300px;
transition: 0.8s ease-in-out;
box-shadow:0 0 40px -10px #000;

}



.watch1:hover{
    transform: scale(1.5)
  }

  .watch2:hover{
      transform: scale(1.5)
    }




.watch2{
position: absolute;
top: 180px;
right: 260px;
width: 400px;
height: 300px;
box-shadow:0 0 40px -10px #000;
transition: 0.8s ease-in-out;
}


.wayone{
margin-top: 330px;
margin-left: 40px;
color: #2FA4FF;

}
.waytwo{
margin-top: 330px;
margin-left: 20px;
color: #2FA4FF;
}




.h1watch{
  margin-left: 600px;
  margin-top: 20px;
  color: #398AB9;
}

.moto{
  position: absolute;
  top: 200px;
  right: 350px;
}



.form{
  width:340px;height:440px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h2{
  margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c}
input{
  width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
input:focus{
  border-bottom:2px solid #78788c}
p:before{
  content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
button{
  float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
button:hover{
  background:#78788c;color:#fff}
div{
  content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000}
span{
  margin:0 5px 0 15px}




  ul {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }

  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }

  ul li a .fab {
    widht: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }

  ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
  }

  ul li:nth-child(2) a:hover .fab {
    color: #00aced;
  }

  ul li:nth-child(3) a:hover .fab {
    color: #dd4b39;
  }

  ul li:nth-child(4) a:hover .fab {
    color: #007bb6;
  }

  ul li:nth-child(5) a:hover .fab {
    color: #e4405f;
  }
